
sudo: required
services:
  - docker
language: node_js
node_js:
  - "9"
install:
  - yarn
script:
  - yarn test
after_success:
  - bash <(curl -s https://codecov.io/bash)
  - yarn compile
  - docker build -t slack-random-teams:latest
  - docker tag slack-random-teams registry.heroku.com/slack-random-teams/web
  - docker login -u "$HEROKU_USER" -p "$HEROKU_API_KEY" registry.heroku.com
  - docker push registry.heroku.com/slack-random-teams/web
notifications:
  email: false
cache:
  yarn: true
env:
  - SLACK_OAUTH_TOKEN=test SLACK_VERIFICATION_TOKEN=test
