version: "2"
services:
  app:
    container_name: app
    restart: always
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - MONGODB_URI=mongodb://mongo:27017/db
    links:
      - mongo
    volumes:
      - "./src:/usr/src/app/src"
  mongo:
    container_name: mongo
    image: mongo
    ports:
      - "27017:27017"